@model CarDealer1.Models.ListingAddViewModel

@{
    ViewBag.Title = "Add";
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Add Listing</h2>
        @using (Html.BeginForm("Add", "Listings", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddListing" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Year</label>
                @Html.TextBoxFor(m => m.Listing.Year, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>City</label>
                @Html.TextBoxFor(m => m.Listing.City, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>State</label>
                @Html.DropDownListFor(m => m.Listing.StateId, Model.States, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Rate</label>
                @Html.TextBoxFor(m => m.Listing.Rate, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Mileage</label>
                @Html.TextBoxFor(m => m.Listing.Mileage, new { @class = "form-control" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Listing.isManual) Manual Transmission
                </label>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Listing.isNew) New
                </label>
            </div>
            <div class="form-group">
                <label>Make</label>
                @Html.DropDownListFor(m => m.Listing.MakesId, Model.MakesTypes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Image</label>
                <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(m => m.Listing.ListingDescription, new { @class = "form-control" })
            </div>
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#frmAddListing').validate({
                rules: {
                    'Listing.Year': {
                        required: true
                    },
                    'Listing.City': {
                        required: true
                    },
                    'Listing.Rate': {
                        required: true,
                        number: true,
                        min: 1
                    },
                    'Listing.Mileage': {
                        required: true,
                        number: true,
                        min: 1
                    },
                    'ImageUpload': {
                        required: true
                    },
                    'Listing.ListingDescription': {
                        required: true
                    }
                }
            });
        });
    </script>
}


