@model IEnumerable<Model.Queries.ListingShortItem>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to Car Dealer</h2>
        <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Recently Added Soviet Cars</h3>
        @foreach (var shack in Model)
            {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <p class="recentListing"><img src="@Url.Content("~/Images/" + shack.ImageFileName)" /></p>
                <p class="recentListing"><strong>@shack.City, @shack.Year</strong></p>
                <p class="recentListing">@shack.Rate.ToString("c") / unit</p>
                <p class="recentListing">@Html.ActionLink("view details", "Details", "Listings", new { id = shack.ListingId }, null)</p>
            </div>
        }
    </div>
</div>